.completed {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 2.5rem 0;
    padding-bottom: 1rem;
    
    font-size: 1.1rem;
    font-weight: 500;

    border-bottom: 1px solid var(--gray-line);
}

.completedNumber {
    font-size: 1.5rem;
}