.experienceBar {
    display: flex;
    align-items: center;

    height: 16px;
    width:100%;

    padding: 15px 5px;

    background-color: var(--white);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
  }
  
  .experienceBar span {
    font-size: 1rem;
  }
  
  .experienceBar > div {
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background: var(--gray-line);
    margin: 0 1.5rem;
    position: relative;
  }
  
  .progressBar{
    height: 4px;
    border-radius: 4px;
    background: var(--green);
  }
  
  .currentExperience{
    position: absolute;
    width: fit-content;
    bottom: 12px;

    padding: 5px;
    
    background-color: var(--white);
    border-radius: 7px 7px 0 0;

    transform: translateX(-50%);
  }