.loginContainer{
    display: grid;
    grid-template-columns: 1fr 3fr 25rem 1fr;
    grid-template-rows: 100vh;
    grid-template-areas: '. logo form .';

    background: var(--blue);
    color: var(--white);
}

.loginContainer > img {
    grid-area: logo;
    width: 25rem;
    padding: 0 2rem;

    justify-self: center;
    align-self: center;
    filter: opacity(0.5);
}


.loginForm{
    grid-area: form;
    display: flex;
    flex-direction: column;

    align-content: center;
    justify-content: center;
    
    width: fit-content;
}

.loginForm header {
    margin-bottom: 3rem;


    display: flex;
    align-items: center;
    justify-content: center;
}

.loginForm header img {
    width: 25rem;
}

.loginForm label {
    font-size: 2.25rem;
    font-weight: 600;
}

.loginForm p {
    color: #B2B9FF;

    margin: 3rem 0;
}

.loginForm div {
    display: flex;
    flex-direction: row;
    height: 3.5rem;

    margin-bottom: 0.5rem;

    background: linear-gradient(90deg, #4953B8 0%, rgba(73, 83, 184, 0.2) 100%);
    color: #B2B9FF;

    border-radius: 5px 0 0 5px;
}

.loginForm input:not(:placeholder-shown ),
.loginForm input:placeholder-shown {
    flex: 1;

    padding: 1rem 1rem;
    
    background: inherit;
    color: inherit;
    border-radius: inherit;
    
    border:none;
    outline: none;
}

.loginForm input::-webkit-input-placeholder {
    color: #B2B9FF;
}

.loginForm button {
    width: 3.5rem;

    border:none;
    border-radius: 3px;

    outline: none;
    transition: 0.2s;
}

.loginForm span {
    font-size: 0.9rem;
    font-weight: 500;

    width: fit-content;

    margin: 0.75rem;
    cursor: pointer;

    color: #B2B9FF;
}

#signUpUsername,
#signUpUsername input {
    border-radius: 5px;
}

@media (max-width: 720px) {
    .loginContainer{
        display: flex;
        flex-direction: column-reverse;

        height: 100vh;

        align-items: center;
        justify-content: center;
    }

    .loginContainer > img {
        margin: 4rem 0 0 0;
        padding: 0;
        width: 10rem;
    }

    .loginForm {
        width: 90vw;
    }

    .loginForm header {
        width: 90vw;
    }

}

@media (max-width: 390px){
    .loginForm header {
        width: 90vw;
    }

}
